@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'S-CoreDream-3Light';
  background: linear-gradient(135deg, #4e4376, #2b5876);
}

.container {
  max-width: 100%;
  min-height: 100vh;
  padding-top: 50px;
}

.swiper {
  max-width: 1600px;
  height: auto;
}

.slide-wrap {
  max-width: 1600px;
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > h2, .swiper-slide .skills h2 {
  font-family: 'Agbalumo';
  font-size: 70px;
  text-align: center;
  color: #eee;
  /* background-color: #b7bbdd; */
}

.card {
  width: 400px;
  height: 580px;
  perspective: 1000px;
  margin: auto;
  margin-top: 50px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front {
  display: flex;
  background: linear-gradient(135deg, #c4cfda, #b7bbdd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.front, .back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
}

.front img {
  width: 330px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.front .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 30px 40px;
}

.front h2 {
  color: #ffffff;
  font-size: 28px;
}

.front p {
  color: #ffffff;
  font-size: 18px;
}

.front button {
  width: 120px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 12px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  font-size: 15px;
}

.back {
  background-color: #eee;
  color: #333;
  padding: 30px 30px;
  transform: rotateY(180deg);
}

.back img {
  width: 130px;
  margin-bottom: 25px;
}

.back h3 {
  font-size: 23px;
  font-weight: 500;
}

.back h3 span {
  font-weight: bold;
}

.back .info {
  margin-top: 25px;
}

.back .info h4 {
  display: inline;
  border-bottom: 2px solid #333;
}

.back .info p {
  margin-top: 5px;
}

.back .info h4, p {
  font-size: 17px;
}

.back .info .edu p:last-child  {
  font-size: 14px;
  margin-top: 0;
}

.back .info .phone-num {
  margin: 10px 0;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}


/* Skills */

.skills h2 {
  font-family: 'Agbalumo';
  font-size: 70px;
  text-align: center;
  color: #eee;
}

.skills-wrap {
  width: 1200px;
  max-width: 1200px;
  height: 460px;
  background-color: rgb(44, 55, 85);
  border-radius: 70px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  margin-bottom: 40px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-blob {
  width: 140px;
  height: 160px;
  background: linear-gradient(135deg, #6a6090, #426a85);
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.skills-blob:hover {
  transform: translateY(-20px);
}

.skills-blob img {
  width: 45%;
}

.skills-wrap p {
  text-align: center;
  color: #eee;
  margin-top: 10px;
  font-weight: 600;
}

/* Projects */
.projects h2 {
  font-family: 'Agbalumo';
  font-size: 70px;
  text-align: center;
  color: #eee;
}

.projects-wrap {
  width: 1300px;
  max-width: 1300px;
  height: 610px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: center;
  margin-bottom: 40px;
}

.projects-wrap .project-img {
  max-width: 400px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}

.projects-wrap .project-img img:hover {
  transform: scale(105%);
  cursor: pointer;
}

.projects-wrap .project-img img {
  max-width: 100%;
  height: 100%;
  transition: all .5s;
}

/* Swiper */
.swiper .swiper-pagination-bullet-active {
  background-color: #ccc;
}

.swiper .swiper-pagination-bullet {
  background-color: #ccc;
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: #ccc;
  margin-top: 50px;
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-top: 25px;
    transition: .2s;
  }
  
  .swiper {
    max-width: 1000px;
  }

  .slide-wrap {
    max-width: 1000px;
  }

  .skills-wrap {
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 15px;
  }

  .projects-wrap {
    max-width: 800px;
    height: 650px;
    grid-template-columns: repeat(2, 2fr);
    place-items: center;
    grid-gap: 12px;
  }

  .projects-wrap .project-img {
    width: 330px;
    height: 200px;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    display: none;
  }
}

/* 모바일 (해상도 360px ~ 767px)*/ 
@media all and (min-width:360px) and (max-width:767px) {
  .container {
    padding-top: 10px;
    transition: .2s;
  }

  .swiper {
    max-width: 600px;
  }

  .slide-wrap {
    max-width: 400px;
    height: auto;
  }

  .skills-wrap {
    width: 450px;
    max-width: 450px;
    height: 620px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    padding: 10px;
    margin-top: 50px;
  }

  .skills-wrap p {
    font-size: 14px;
  }

  .skills-blob {
    width: 125px;
    max-width: 125px;
    height: 145px;
  }

  .skills-blob:hover {
    transform: translateY(0);
  }

  .projects-wrap {
    width: 360px;
    max-width: 360px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
    margin-top: 50px;
  }

  .projects-wrap .project-img {
    width: 280px;
    height: 180px;
  }

  .swiper-button-prev::after, .swiper-button-next::after {
    display: none;
  }
}